@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat SemiBold;
  src: url(../../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}
